*.swp
*~
*.py[co]
*.log
.netrwhist
.python-version
__pycache__
fish_variables
log

.vim/bundle/
.vim/plugged/
.vim/view/
.local/share/nvim/shada/
.local/share/nvim/site/
.local/share/nvim/site/autoload/plug.vim
.local/share/nvim/view/
.config/fish/conf.d
.config/fish/fishd.*
.config/nvim/plugged/
.config/nvim/.netrwhist
.tmux/plugins/

projects/*
sys/tmp/*
sys/src
swap/
