projects/*
sys/tmp/*
sys/src
.vim/.netrwhist
.vim/bundle/
.vim/plugged/
.vim/view/
.local/share/nvim/shada/
.local/share/nvim/site/
.local/share/nvim/site/autoload/plug.vim
.local/share/nvim/view/
.config/nvim/plugged/
.config/nvim/.netrwhist
*.swp
*~
*.py[co]
__pycache__

.config/fish/fishd.*
