*.swp
*~
*.py[co]
*.log
.netrwhist
.python-version
__pycache__
fish_variables
fish_plugins
*fisher*
*bass*
log

.vim/bundle/
.vim/plugged/
.vim/view/
.local/share/nvim/plugged/
.local/share/nvim/shada/
.local/share/nvim/site/
.local/share/nvim/site/autoload/plug.vim
.local/share/nvim/view/
fish/conf.d
fishd.*          # machine-specific universal variables
fish_history     # command history
.config/nvim/plugged/
.config/nvim/pack/
.config/nvim/.netrwhist
.tmux/plugins/
.fonts/PragmataPro*
.fonts/Iosevka*

projects/*
sys/tmp/*
sys/src
swap/
