[Unit]
Description=Docker Container Removal Service
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-remove-containers

[Install]
WantedBy=halt.target reboot.target shutdown.target
